body,ul,dl,dd,h1,h2,h3,h4,h5,h6,p{
margin:0;
font:12px "ו";


}

ul,ol{
padding:0;
list-style:none;
}

em{

font-style:normal;

}

strong{
font-weight:normal;

}

a{
text-decation:normal;

}

img{
border:none;
verticle-align:top;


}